html {
  background: url('../images/sand1.jpg');
background-repeat: repeat;
background-position: center;
background-attachment: fixed; */
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; */
}
body {
  font-family:'Raleway',;
  font-weight: 400;
  background: transparent;
}

p {
  font-family:'Raleway'
  color:black;
  font-size: 14px;
  left: 50%;
  position: center;
}

.box {
    height: 200px
    width: 550px;
    padding: 10px;
    border: 25px grey;
    position: right;
}
