
  /* Table elemets below */

table {
    width: 60%;
    border-collapse:collapse;
  }

th {
  height: 50px;
}

th, td {
    padding: 10px;
    text-align: left;
}

  thead {
    background: black;
    color: white;
    text-align: center;
    font-size:18pt;
    font-family:'Raleway'
  }

  tbody {
    background: none;
  }

  td {
    text-align: left;
  }

  html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }

  body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  .hero-image {
    background-image: url('../images/sand1.jpg');
    height: 50%;
    background-position: center;
    padding: 50px;
  }
