container-heading {
  background: url('../images/sand1.jpg');
  /* background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
}

  /* Table elemets below */

table {
    width: 60%;
  }

th {
  height: 10px;
}

  table, th, td {
    /* border: 1px solid black; */
  }

  thead {
    background: black;
    color: white;
    text-align: center;
  }

  tbody {
    background: none;
  }

  td {
    text-align: left;
  }

  html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }

  body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  .hero-image {
    background-image: url('../images/sand1.jpg');
    height: 50%;
    background-position: center;
    padding: 50px;
  }
